# Compilados e Executáveis
*.o
*.exe
*.dll
*.out
JOGO

# Diretórios de build e dependências
bin/
obj/
dep/

# Arquivos de IDE
.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Arquivos temporários e de sistema
*.log
.DS_Store
Thumbs.db

# Material de Apoio e Orientações (para não inchar o repositório do Github)
*.pdf
Trabalhos_Jogo_L2D/*.pdf
Tutoriais/*.pdf
